
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>New About Section</h2>
<br />
<form method="post">

    <input type="text" name="Name" class="form-control" placeholder="Type New Name" />
    <br />
    <input type="text" name="Surname" class="form-control" placeholder="Type New Surname" />
    <br />
    <input type="text" name="Adress" class="form-control" placeholder="Type New Adress" />
    <br />
    <input type="text" name="Phone" class="form-control" placeholder="Type New Phone" />
    <br />
    <input type="text" name="Mail" class="form-control" placeholder="Type New Mail" />
    <br />
    <textarea name="Description" class="form-control" rows="5" placeholder="Type New Description"></textarea>
    <br />
    <input type="text" name="ImageUrl" class="form-control" placeholder="Type New ImageUrl" />
    <br />
    <button class="btn btn-primary">Add New About Section</button>
</form>



