
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About Menu</h2><br /><br />
<table class="table table-bordered">

    <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Surname</th>
    </tr>
    <tr>
        <th>1</th>
        <th>omer</th>
        <th>usak</th>
    </tr>
</table>