
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add New Experience</h2>
<br />
<form method="post">

    <input type="text" name="Title" class="form-control" placeholder="Type New Title" />
    <br />
    <input type="text" name="SubTitle" class="form-control" placeholder="Type New SubTitle" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Type New Date" />
    <br />
    <textarea name="Description" class="form-control" rows="5" placeholder="Type New Description"></textarea>
    <br />
    <button class="btn btn-primary" >Add New Experience</button>
</form>

