
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>Add New Education</h2>
<br />
<form method="post">

    <input type="text" name="Title" class="form-control" placeholder="Type New Title" />
    <br />
    <input type="text" name="Subtitle" class="form-control" placeholder="Type New Subtitle" />
    <br />
    <input type="text" name="Degree" class="form-control" placeholder="Type New Degree" />
    <br />
    <input type="text" name="Gpa" class="form-control" placeholder="Type New Gpa" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Type New Date" />
    <br />
    <button class="btn btn-primary">Add New Education</button>
</form>


