
@{
    ViewBag.Title = "AddSertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>New Sertificate</h2>
<br />
<form method="post">

    <input type="text" name="Description" class="form-control" placeholder="Type New Sertificate" />
    <br />
    <button class="btn btn-primary">Add New Sertificate</button>
</form>


