
<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Contact</h2>

        <label>Name Surname</label><br />
        <input type="text" class="form-control mb-3" placeholder="Enter your name" name="NameSurname"/><br />

        <label>Mail</label><br />
        <input type="text" class="form-control mb-3" placeholder="Enter your mail" name="Mail" /><br />

        <label>Subject</label><br />
        <input type="text" class="form-control mb-3" placeholder="Enter the subject" name="Subject"/><br />

        <label>Message</label><br />
        <input type="text" class="form-control mb-3" placeholder="Enter your message" name="Message" /><br />

        <button class="btn btn-outline-primary">Send</button>  
    </form>

</div>
