@using MyCvProject.Models.Entity
@model List<TblSkill>
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-sass"></i></li>
            <li class="list-inline-item"><i class="fab fa-less"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>

        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <form class="container">
                <div class="row mb-3 align-items-center">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 text-left">
                            <label class="font-weight-bold">@item.Skill</label>
                        </div>
                        <div class="col-md-6">
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: @item.SkillValue%"
                                     aria-valuenow="@item.SkillValue" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <span>@item.SkillValue %</span>
                        </div>

                    }
                </div>
            </form>
        </ul>
    </div>
   
          


     
</section>




